# dependencies
node_modules
.pnpm-store

# next.js
.next
.next-dev
out

# env
.env
.env.local
.env.prod
.env.*.local

# debug / IDE
*.log
.DS_Store
.idea
.vscode
.cursor

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
